

@using WebApplication1.Models.Products
@model ProductViewModel

<h2>Product Update</h2>
<hr style="width: 100%;" />
<hr style="width: 100%;" />

<form method="post">
    <div class="form-group">
        <label for="name-input">Product Name</label>
        <input type="text" name="Name" value=@Model.Name class="form-control" id="name-input" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="quantity-input">Quantity</label>
        <input type="number" name="Quantity" value=@Model.Quantity class="form-control" id="quantity-input" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="price-input">Price</label>
        <input name="Price" value=@Model.Price class="form-control" id="price-input" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
        <hr />
        <label for="category-input">Category</label>

        <select style="float: right" class="form-select" name="CategoryId" id="category-input">
            @*<option value="@Model.CategoryId" selected >@Model.CategoryId</option>*@
            @foreach (var item in ViewBag.categories)
            {
                @if(item.Id==Model.CategoryId)
                {
                    <option value="@item.Id" selected>@item.Name</option>
                }
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <hr />
    </div>
    <button style="float:right;" type="submit" class="btn btn-primary">Submit</button>
</form>
