@using WebApplication1.Models.Products

@model ProductIndexViewModel


<h1>Products</h1>
<a asp-action="Create">Create</a>
@if (Model.Products.Count > 0)
{
    <div class="people-list">
        @*@foreach (var person in people)
            {
                <li>#@person.Id @person.LastName @person.FirstName @person.Birth</li>
            }*@
        @foreach (var product in Model.Products)
        {
            <div class="category-info">
                @*#@person.Id @person.LastName @person.FirstName @person.Birth -*@
                @await Html.PartialAsync("_Product", product)
                <div class="category-actions">
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a> |
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                </div>
            </div>
        }
    </div>

}
else
{
    <h4>Products list is empty</h4>
}
